ul {
    border: 1px solid #ED5736;
    margin: 2em;
    background: #F3F2F2;
  }
  
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .title {
    color: #ED5736;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .shortText {
    margin-top: 0;
  }
  
  address {
    text-align: right;
    margin-right: 2em;
  }
  
  date {
    font-weight: bold;
    margin-right: 2em;
    display: block;
    text-align: right;
    margin-bottom: 1em;
  }