
  .box {
    border: 2px solid #ED5736;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    background: linear-gradient(to right, #ffc4d0, white 15%);
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}
  
  .title {
    color: #ED5736;
    font-weight: bold;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .shortText {
    padding-left: 20px;
    padding-right: 20px;
    font-size:5px;
  }
  
  address {
    text-align: right;
    margin-right: 2em;
  }
  
  time{
    font-weight: bold;
    margin-right: 2em;
    display: block;
    text-align: right;
    margin-bottom: 1em;
  }